* {
    font-family: Rockwell, Helvetica, sans-serifc;
}
body {
  background: #f3e9fd;
  margin-left: 200px;
  padding: 0px 10px;
}

.title{
  text-align: center;
}


.button_home{
  display:block;
  margin:0 auto;
}

.about{
  margin-top: 20px; 
  /* this centers our text */
  text-align: center;
  
}

.insturction{
  /* this centers our text */
  text-align: center;
}

.gamepicture{
  display:block;
  margin:0 auto;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #fff;
}